<a href="https://colab.research.google.com/github/gundall98/AI-X-MachineRunning/blob/master/AI%2BX_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 웹 크롤링을 통한 KOSPI,투자자별 매매 동향 데이터 불러오기
## 데이터 출처: 네이버 금융
### 저자: 2017056617 파이낸스경영학과 박건 

* 인터넷 속도에 따라 런닝 타임이 변동될 수 있음

In [96]:

from bs4 import BeautifulSoup
import urllib.request as req
import pandas as pd
Fdata = []
Inddata = []
Insdata = []
Ddata = []

num = input("확인할 데이터의 수를 입력하시오: ")
pages = int(num)//10
left = int(num)%10

for i in range(1,pages+1):
  url = "https://finance.naver.com/sise/investorDealTrendDay.nhn?bizdate=2020060404&sosok=&page="+str(i)
  kospiurl = "https://finance.naver.com/sise/sise_index_day.nhn?code=KOSPI"

  response = req.urlopen(url)
  soup = BeautifulSoup(response, 'html.parser') 

  body = soup.find('body')
  tr = body.find_all('tr')

  for j in tr:
    date = j.find('td',{'class':'date2'})
    if date != None:
      date= j.find_all('td')[:4][0].text
      Foreign = j.find_all('td')[:4][2].text
      Individual = j.find_all('td')[:4][1].text
      Institution = j.find_all('td')[:4][3].text
      Ddata.insert(0,date)
      Fdata.insert(0,Foreign)
      Inddata.insert(0,Individual)
      Insdata.insert(0,Institution)

if left != 0:
  url = "https://finance.naver.com/sise/investorDealTrendDay.nhn?bizdate=2020060404&sosok=&page="+str(pages+1)

  response = req.urlopen(url)
  soup = BeautifulSoup(response, 'html.parser') 

  body = soup.find('body')
  tr = body.find_all('tr')
  count = 0

  for j in tr:
    if count < left:
      date = j.find('td',{'class':'date2'})
      if date != None:

        date= j.find_all('td')[:4][0].text
        Foreign = j.find_all('td')[:4][2].text
        Individual = j.find_all('td')[:4][1].text
        Institution = j.find_all('td')[:4][3].text
        Ddata.insert(0,date)
        Fdata.insert(0,Foreign)
        Inddata.insert(0,Individual)
        Insdata.insert(0,Institution)
        count += 1

pages = int(num)//6
left = int(num)%6
dates = []
KOSPIs=[]

for i in range(1,pages+1):
  url = "https://finance.naver.com/sise/sise_index_day.nhn?code=KOSPI&page="+str(i)

  response = req.urlopen(url)
  soup = BeautifulSoup(response, 'html.parser') 

  body = soup.find('body')
  tr = body.find_all('tr')

  for j in tr:
    date = j.find('td',{'class':'date'})
    if date != None:
      date= j.find_all('td')[:4][0].text
      if date not in dates:
        
        dates.append(date)

        KOSPI = j.find_all('td')[:4][1].text
        
        KOSPIs.insert(0,KOSPI)


if left != 0:
  url = "https://finance.naver.com/sise/sise_index_day.nhn?code=KOSPI&page="+str(pages+1)

  response = req.urlopen(url)
  soup = BeautifulSoup(response, 'html.parser') 

  body = soup.find('body')
  tr = body.find_all('tr')
  count = 0

  for j in tr:
    if count < left:
      date = j.find('td',{'class':'date'})
      if date != None:
        date= j.find_all('td')[:4][0].text
        if date not in dates:
          
          dates.append(date)

          KOSPI = j.find_all('td')[:4][1].text
          
          KOSPIs.insert(0,KOSPI)
          count += 1
    

table = pd.DataFrame(index = Ddata)
table["개인투자자"] = Inddata
table["외국인"] = Fdata
table["기관"] = Insdata
table["KOSPI"] = KOSPIs
table

확인할 데이터의 수를 입력하시오: 20

           개인투자자      외국인      기관     KOSPI
20.03.09  12,800  -13,075    -463  1,954.77
20.03.10   3,114   -9,897   6,113  1,962.93
20.03.11  10,886   -6,835  -4,838  1,908.27
20.03.12   5,388   -8,891   2,756  1,834.33
20.03.13   4,463  -11,629   5,848  1,771.44
20.03.16   9,263   -6,786  -3,465  1,714.86
20.03.17   6,010  -10,031   3,502  1,672.44
20.03.18   9,136   -5,058  -5,145  1,591.20
20.03.19   2,421   -6,149   2,898  1,457.64
20.03.20   2,004   -5,832   3,116  1,566.15
20.03.23   9,200   -6,405  -3,611  1,482.46
20.03.24  -4,623     -823   5,024  1,609.97
20.03.25   4,283   -3,230    -948  1,704.76
20.03.26   7,166   -5,307  -2,138  1,686.24
20.03.27   1,731   -3,724   1,300  1,717.73
20.03.30   1,986   -4,272   2,236  1,717.12
20.03.31   3,845     -711  -2,901  1,754.64
20.04.01  11,508   -5,752  -6,199  1,685.46
20.04.02   2,700   -6,233   3,599  1,724.86
20.04.03   3,487   -2,883    -833  1,725.44

           개인투자자     외국인      기관     KOSPI
16.03.10  -1,219   6,503  -5,820  1,969.33
16.03.11    -568   1,475  -1,501  1,971.41
16.03.14   1,352     819  -2,450  1,972.27
16.03.15      95     631  -1,314  1,969.97
16.03.16    -459     976    -908  1,974.90
...          ...     ...     ...       ...
20.03.30   1,986  -4,272   2,236  1,717.12
20.03.31   3,845    -711  -2,901  1,754.64
20.04.01  11,508  -5,752  -6,199  1,685.46
20.04.02   2,700  -6,233   3,599  1,724.86
20.04.03   3,487  -2,883    -833  1,725.44

[1000 rows x 4 columns]